#title
  = link_to "Photon", root_path
#links.clearfix
  %ul
    %li= link_to t(:header_tab_home), root_path
    - if controller_name == "pictures"
      %li= link_to t(:header_tab_return_album), @album
    - if !["index", "new", "create"].include? action_name
      - if !["users"].include? controller_name
        %li= link_to t(:header_tab_edit_album), edit_album_path(@album)
        %li= link_to t(:header_tab_pictures_new), new_album_picture_path(@album)
    - if current_user
      %li
        Connected as
        = current_user.login
        - if current_user.role.title == "admin"
          %a{:title => "admin"} (A)
          - if action_name != "show"
            %li= link_to t(:header_tab_album_new), new_album_path
      %li= link_to t(:header_tab_account), edit_user_path(current_user)
      %li= link_to t(:header_tab_logout), logout_path
    - else
      %li= link_to t(:header_tab_login), login_path
      %li= link_to t(:header_tab_register), new_user_path
