= form_for @album, :html => {:multipart => true} do |f|
  = render "shared/error_messages", :target => @album
  %p
    Nom : 
    = f.text_field :name
  %p
    Description :
  %p
    = f.text_area :description, :rows => 6, :cols => 60
  %br
  #newPaperclipFiles
    = f.fields_for :pictures do |picture|
      - if picture.object.new_record?
        = picture.file_field :photo
  #existingPaperclipFiiled
    = f.fields_for :pictures do |picture|
      - unless picture.object.new_record?
        .thumbnail
          = link_to( image_tag(picture.object.image.url(:thumb)), picture.object.image.url(:normal) )
          = picture.check_box :_delete
  %p= f.submit t(:button_validate)