= form_for @album, :html => {:multipart => true} do |f|
  = render "shared/error_messages", :target => @album
  %p
    Nom : 
    = f.text_field :name
  %p
    Description :
  %p
    = f.text_area :description, :rows => 6, :cols => 60
  %br
  #newPaperclipFiles
    = f.fields_for :pictures do |picture|
      - if picture.object.new_record?
        = picture.text_field :name
        = picture.file_field :photo
        %br
  %br
  #existingPaperclipFiiled
    = f.fields_for :pictures do |picture|
      - unless picture.object.new_record?
        .thumbnail
          = picture.text_field :name
          %br
          = link_to( image_tag(get_picture_url(picture.object.photo, :thumb)),  get_picture_url(picture.object.photo), :target => :_blank)
          = picture.check_box :_destroy
          %br
          %br
  %br
  %p= f.submit t(:button_validate)