= content_for :head do
  %title
    = @album.name
    \-
    = t(:application_name)

- @pictures.each do |picture|
  .picturesListThumb
    %p
      %a{:href => album_picture_path(@album, picture)}
        = image_tag get_picture_url(picture.photo, :thumb)
        %br
        %span= picture.name