= content_for :head do
  %title
    = t(:title_pictures_show)
    \-
    = t(:application_name)

#left
  %span.pictureName= @picture.name
  = image_tag get_picture_url(@picture.photo, :normal)

#right
  - if !@picture.exif.no_exif
    = render :partial => "map"
  #navigation
    = render :partial => "navigation"
  #pictureInfos
    = render :partial => "infos"
  #exif
    - if !@picture.exif.no_exif
      = render :partial => "exif"