= content_for :head do
  %title
    = t(:title_pictures_show)
    \-
    = t(:application_name)

#left
  %span.pictureName= @picture.name
  = image_tag get_picture_url(@picture.photo, :normal)

#right
  #map
    Map
  #navigation
    - navigation = navigation_objects(@album, @picture)
    - [0,1,2].each do |nav|
      - if navigation[nav].nil?
      - else
        = link_to image_tag(get_picture_url(navigation[nav].photo, :thumb)), album_picture_path(@album, navigation[nav])
    
  #pictureInfos
    = render :partial => "infos"
  #exif
    = render :partial => "exif"