!!! Strict
%html
  %head
    = render :partial => "shared/head"
  
  %body
    #content
      #header
        = render :partial => 'shared/header'
      #main
        = render :partial => 'shared/breadcrumb'
        #albumList.clearfix
          = yield
          
      #footer
        = render :partial => 'shared/footer'